<div id="<%= dom_id patient_card %>">
  <p>
    <strong>Doctor comment:</strong>
    <%= patient_card.doctor_comment %>
  </p>

  <p>
    <strong>Clinic:</strong>
    <%= patient_card.clinic_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= patient_card.patient_id %>
  </p>

</div>
