<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= patient.surname %>
  </p>

  <p>
    <strong>Birthday date:</strong>
    <%= patient.birthday_date %>
  </p>

</div>
